<!DOCTYPE html>
   <head>
      <title>GPIO Control</title>
      <link rel="stylesheet" href='../static/style.css'/>
   </head>
   <body>
		<h2>Flask Etch</h2>

		<h3> Command Panel </h3>
        <p> Horizontal
        <a href="/left" class="button"> Move Left</a>
        <a href="/right" class="button"> Move Right</a>
        <p> Vertical
        <a href="/up" class="button"> Move Up</a>
        <a href="/down" class="button"> Move Down</a>
        <br><br>
        <a href="/clear"class="button"> Clear</a> 
   </body>
</html>

