<!DOCTYPE html>
   <head>
      <title>GPIO Control</title>
      <link rel="stylesheet" href='../static/style.css'/>
   </head>
   <body>
		<h2>Flask Etch</h2>
		<h3> Button Status </h3>
		     RED LED ==>  {{ ledRed  }}
			 Green LED ==> {{ ledGreen }}
		<br>
		<h3> Commands </h3>
			<p>RED LED Ctrl ==> 
			<a href="/ledRed/on" class="button">TURN ON</a>  
			<a href="/ledRed/off"class="button">TURN OFF</a>

			</p>GREEN LED Ctrl ==> 
				<a href="/ledGreen/on" class="button">TURN ON</a>  
				<a href="/ledGreen/off"class="button">TURN OFF</a>
   </body>
</html>

